div#snakeRender svg{
  /*background-color: blue;*/
    align-items: center;
    background-color: green;
}

.score{
    color:red;
    
    
}
div#snakeRender svg{
    border: 1px solid #000;
    border-style:solid;
    border-width: 10px;
    border-color: black;
}

.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


